  <section class="headre_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="contact_top">
            <p> <i class="fas fa-phone"></i> <b>Call Us:</b> +1 858 736 6808</p>
            <p> <i class="fas fa-envelope"></i> <b>Mail Us:</b> hq@inbrainllc.com</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="social_top">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>