  <section class="header">
    <div class="container">
        <div class="logo_header">
          <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <nav> <a class="responsive-menu resp-menu" href="#"><i class="fa fa-reorder"></i> Menu</a>
          <ul class="menu">
            <li><a class="homer" href="#home">Home</a></li>
            <li><a href="#aboutUs">About Us</a></li>
            <li><a  href="#services">Services</a>
              <ul class="sub-menu">
                <li><a href="#">Strategy & Research</a></li>
                <li><a href="#">Design & Development</a></li>
                <li><a href="#">Management & Marketing</a></li>
                <li><a href="#">IOS App Development</a></li>
                <li><a href="#">Android App Development</a></li>
                <li><a href="#">E Commerce Website</a></li>
              </ul>
            </li>
            <li><a href="#work">Work</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#technology">Technology</a></li>
            <li><a class="last-child" href="#contact">Contact</a></li>
          </ul>
        </nav>
    </div>
  </section>