  <section class="ourservice_section bg" id="skills">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src=" {{.img}} " alt="{{.teamimgalt}}">
        </div>
        <div class="col-md-6">
          <h3> <span></span> {{.subtitle}} </h3>
          <h2> {{.title1}} <br> {{.title2}} </h2>
          <p>{{.desc1}}</p>
        </div>

        <div class="col-md-12">
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/db_i.png" alt=""></i>
            <p>Database Development</p>
            <span style="width: 98%"></span>
          </div>
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/android_i.png" alt=""></i>
            <p>Android Development</p>
            <span style="width: 60%"></span>
          </div>
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/ios_i.png" alt=""></i>
            <p>iOS Development</p>
            <span style="width: 99%"></span>
          </div>
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/arck_i.png" alt=""></i>
            <p>Software Architecture</p>
            <span style="width: 95%"></span>
          </div>
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/front-end_i.png" alt=""></i>
            <p>Frontend Development</p>
            <span style="width: 99%"></span>
          </div>
          <div class="meter orange nostripes" style="width: 100%">
            <i><img src="images/back_end_i.png" alt=""></i>
            <p>Backend Development</p>
            <span style="width: 92%"></span>
          </div>
        </div>
      </div>
    </div>
  </section>